<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for msg in messages %}
{{msg}}
{% endfor %}
<br>

  Name: {{ detail.name }}<br>
  Email: {{ detail.email }}<br>
  DOB: {{ detail.DOB }}<br>
  Age: {{ detail.Age}}<br>
  Mobile Number: {{ detail.Mobile_Number }}<br>
  Gender: {{ detail.gender }}<br>
  Address: {{ detail.Address }}<br>
  Pincode: {{ detail.pin_code }}<br>
  Department: {{ detail.departments }}<br>
  Course: {{ detail.courses }}<br>
  Purpose: {{ detail.purpose }}<br>

</body>
</html>